In [1]:
import pandas as pd
import numpy as np

In [6]:
happy_by_year_df = pd.read_csv("Resources/happy_by_country.csv")

In [7]:
happy_by_year_df.head()

,Unnamed: 0,Happiness Rank,Happiness Rank.1,Happiness Rank.2,Happiness Rank.3,Happiness Rank.4,Happiness Score,Happiness Score.1,Happiness Score.2,Happiness Score.3,...,Generosity,Generosity.1,Generosity.2,Generosity.3,Generosity.4,year,year.1,year.2,year.3,year.4
0,NaN,mean,median,amin,amax,std,mean,median,amin,amax,...,mean,median,amin,amax,std,mean,median,amin,amax,std
1,Country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,149.4,153.0,141,154,6.02494813255683,3.512799982070922,3.575,3.2030000000000003,3.7939999103546103,...,0.2677301865158082,0.311870932579041,0.158,0.3651,0.08856919206018184,2017.0,2017.0,2015,2019,1.5811388300841898
3,Albania,106.4,109.0,95,112,6.61815684310972,4.712600010681152,4.655,4.586,4.959,...,0.1678865888586044,0.1684,0.14272,0.20131294429302202,0.02350492686137858,2017.0,2017.0,2015,2019,1.5811388300841898
4,Algeria,66.2,68.0,38,88,21.004761364985796,5.667600043487548,5.605,5.211,6.355,...,0.06921932939958572,0.07044,0.055,0.07822,0.008646272804989256,2017.0,2017.0,2015,2019,1.5811388300841898