In [1]:

from statsmodels.regression import linear_model

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
yearly_country_df = pd.read_csv("Resources/yearly_country_data.csv")
yearly_averages_df = pd.read_csv("Resources/all_variables_avg.csv")
yearly_averages_df.head()

,Unnamed: 0,Country,Gini Index Five Year Average,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
0,0,Albania,33.266667,72.239452,4.71260,0.938633,0.754931,0.787696,0.371898,0.043201,0.167887
1,1,Angola,51.300000,96.300743,3.87225,0.798380,0.938368,0.133902,0.027432,0.071570,0.105269
2,2,Argentina,41.533333,67.997396,6.45940,1.111035,1.330960,0.760895,0.481620,0.064308,0.092371
3,3,Armenia,33.225000,71.844352,4.39320,0.839133,0.890873,0.697851,0.216029,0.038767,0.082394
4,4,Austria,30.333333,82.749968,7.14200,1.398341,1.363963,0.883680,0.576929,0.214260,0.292400

,Unnamed: 0,Country,Gini Index Five Year Average,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
0,0,Albania,33.266667,72.239452,4.71260,0.938633,0.754931,0.787696,0.371898,0.043201,0.167887
1,1,Angola,51.300000,96.300743,3.87225,0.798380,0.938368,0.133902,0.027432,0.071570,0.105269
2,2,Argentina,41.533333,67.997396,6.45940,1.111035,1.330960,0.760895,0.481620,0.064308,0.092371
3,3,Armenia,33.225000,71.844352,4.39320,0.839133,0.890873,0.697851,0.216029,0.038767,0.082394
4,4,Austria,30.333333,82.749968,7.14200,1.398341,1.363963,0.883680,0.576929,0.214260,0.292400

In [5]:
Y = yearly_averages_df['Happy']
X = yearly_averages_df[['Gini Index Five Year Average',
                        'Workforce Ratio Five Year Average',
                        'Economy',
                        'Family',
                        'Health',
                       'Trust',
                       'Generous']]
happy_model = linear_model.OLS(Y, X).fit()

In [6]:
happy_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Happy   R-squared (uncentered):                   0.991
Model:                            OLS   Adj. R-squared (uncentered):              0.991
Method:                 Least Squares   F-statistic:                              1499.
Date:                Sat, 17 Oct 2020   Prob (F-statistic):                    7.27e-92
Time:                        09:05:08   Log-Likelihood:                         -76.813
No. Observations:                  99   AIC:                                      167.6
Df Residuals:                      92   BIC:                                      185.8
Df Model:                           7
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
Gini Index Five Year Average          0.0247      0.005      4.498      0.000       0.014       0.036
Workforce Ratio Five Year Average     0.0059      0.004      1.671      0.098      -0.001       0.013
Economy                               0.8570      0.330      2.598      0.011       0.202       1.512
Family                                1.3035      0.335      3.895      0.000       0.639       1.968
Health                                2.1141      0.419      5.049      0.000       1.283       2.946
Trust                                 1.7928      0.605      2.962      0.004       0.591       2.995
Generous                              1.2058      0.469      2.571      0.012       0.274       2.137
==============================================================================
Omnibus:                        3.291   Durbin-Watson:                   2.229
Prob(Omnibus):                  0.193   Jarque-Bera (JB):                3.367
Skew:                          -0.101   Prob(JB):                        0.186
Kurtosis:                       3.881   Cond. No.                     1.02e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.02e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""