In [430]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [431]:
#Load resources files from world happiness dataset
wor_hap_2015 = pd.read_csv("Resources/2015.csv")
wor_hap_2016 = pd.read_csv("Resources/2016.csv")    
wor_hap_2017 = pd.read_csv("Resources/2017.csv")
wor_hap_2018 = pd.read_csv("Resources/2018.csv")
wor_hap_2019 = pd.read_csv("Resources/2019.csv")

In [432]:
#wor_hap_2015.head()

In [433]:
#2015 year added in to 2015 Happy Data
year15 = []
year15 = [2015]*len(wor_hap_2015)

wor_hap_2015['year'] = year15

clean_hap_2015 = wor_hap_2015

#cleaning names/removing columns
del clean_hap_2015['Standard Error']
del clean_hap_2015['Region']
del clean_hap_2015['Dystopia Residual']

clean_hap_2015.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [434]:
#wor_hap_2016.head()

In [435]:
#2016 year added in to 2016 Happy Data
year16 = []
year16 = [2016]*len(wor_hap_2016)
  
wor_hap_2016['year'] = year16

clean_hap_2016 = wor_hap_2016

#cleaning names/removing columns

del clean_hap_2016['Lower Confidence Interval']
del clean_hap_2016['Upper Confidence Interval']
del clean_hap_2016['Region']
del clean_hap_2016['Dystopia Residual']

clean_hap_2016.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,year
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016

In [436]:
#2017 year added in to 2017 Happy Data
year17 = []
year17 = [2017]*len(wor_hap_2017)
  
wor_hap_2017['year'] = year17

clean_hap_2017 = wor_hap_2017

#cleaning names/removing columns

del clean_hap_2017['Whisker.high']
del clean_hap_2017['Whisker.low']
del clean_hap_2017['Dystopia.Residual']

clean_hap_2017 = clean_hap_2017.rename(columns = {'Happiness.Rank': "Happiness Rank", 'Happiness.Score':'Happiness Score', 'Economy..GDP.per.Capita.': 'Economy (GDP per Capita)'})
clean_hap_2017 = clean_hap_2017.rename(columns = {'Health..Life.Expectancy.':'Health (Life Expectancy)', 'Trust..Government.Corruption.':'Trust (Government Corruption)'})

#fix the order to be consistent with other years
clean_hap_2017 = clean_hap_2017[['Country','Happiness Rank','Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)','Freedom','Trust (Government Corruption)','Generosity','year']]

clean_hap_2017.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2017

In [437]:
#2018 year added in to 2018 Happy Data
year18 = []
year18 = [2018]*len(wor_hap_2018)
  
wor_hap_2018['year'] = year18

clean_hap_2018 = wor_hap_2018

#cleaning names/removing columns
clean_hap_2018 = clean_hap_2018.rename(columns = {'Overall rank': 'Happiness Rank','Country or region':'Country','Score':'Happiness Score' })
clean_hap_2018 = clean_hap_2018.rename(columns = {'GDP per capita':'Economy (GDP per Capita)', 'Social support':'Family', 'Healthy life expectancy':'Health (Life Expectancy)'})
clean_hap_2018 = clean_hap_2018.rename(columns = {'Freedom to make life choices':'Freedom', 'Perceptions of corruption':'Trust (Government Corruption)'})

#fix the order to be consistent with other years
clean_hap_2018 = clean_hap_2018[['Country','Happiness Rank','Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)','Freedom','Trust (Government Corruption)','Generosity','year']]

clean_hap_2018.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,year
0,Finland,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202,2018
1,Norway,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286,2018
2,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284,2018
3,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353,2018
4,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256,2018

In [438]:
#2019 year added in to 2019 Happy Data
year19 = []
year19 = [2019]*len(wor_hap_2019)
  
wor_hap_2019['year'] = year19

clean_hap_2019 = wor_hap_2019

#cleaning names/removing columns
clean_hap_2019 = clean_hap_2019.rename(columns = {'Overall rank': 'Happiness Rank','Country or region':'Country','Score':'Happiness Score' })
clean_hap_2019 = clean_hap_2019.rename(columns = {'GDP per capita':'Economy (GDP per Capita)', 'Social support':'Family', 'Healthy life expectancy':'Health (Life Expectancy)'})
clean_hap_2019 = clean_hap_2019.rename(columns = {'Freedom to make life choices':'Freedom', 'Perceptions of corruption':'Trust (Government Corruption)'})

#fix the order to be consistent with other years
clean_hap_2019 = clean_hap_2019[['Country','Happiness Rank','Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)','Freedom','Trust (Government Corruption)','Generosity','year']]


clean_hap_2019.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,year
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,2019
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,2019
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,2019
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,2019
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,2019

In [439]:
# one merge method - #merge the data files together 

merged_hap_15_16 = pd.merge(clean_hap_2015, clean_hap_2016,  on='Country', how='left')
merged_hap_15_17 = pd.merge(merged_hap_15_16, clean_hap_2017, on='Country', how='left')
merged_hap_15_18 = pd.merge(merged_hap_15_17, clean_hap_2018, on='Country', how='left')
merged_hap_15_19 = pd.merge(merged_hap_15_18, clean_hap_2019, on='Country', how='left')

merged_hap_15_19.head()

,Country,Happiness Rank_x,Happiness Score_x,Economy (GDP per Capita)_x,Family_x,Health (Life Expectancy)_x,Freedom_x,Trust (Government Corruption)_x,Generosity_x,year_x,...,year_y,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015,...,2018.0,6.0,7.480,1.452,1.526,1.052,0.572,0.343,0.263,2019.0
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015,...,2018.0,4.0,7.494,1.380,1.624,1.026,0.591,0.118,0.354,2019.0
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015,...,2018.0,2.0,7.600,1.383,1.573,0.996,0.592,0.410,0.252,2019.0
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015,...,2018.0,3.0,7.554,1.488,1.582,1.028,0.603,0.341,0.271,2019.0
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015,...,2018.0,9.0,7.278,1.365,1.505,1.039,0.584,0.308,0.285,2019.0

In [440]:
#stacking all data tables together via concatenation (by country, by year)
#https://www.freecodecamp.org/news/how-to-combine-multiple-csv-files-with-8-lines-of-code-265183e0854/
stack_15_16 = pd.concat([clean_hap_2015, clean_hap_2016, clean_hap_2017, clean_hap_2018, clean_hap_2019], axis = 0)

stack_15_16

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,2019
152,Tanzania,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,2019
153,Afghanistan,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,2019
154,Central African Republic,155,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,2019
155,South Sudan,156,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200,2019

In [441]:
#building a table of summary statistics by year - all countries

basic_data_year = stack_15_16.groupby('year').agg([np.mean, np.median, np.min, np.max, np.std])
basic_data_year

     Happiness Rank                             Happiness Score          \
               mean median amin amax        std            mean  median
year
2015      79.493671   79.5    1  158  45.754363        5.375734  5.2325
2016      78.980892   79.0    1  157  45.466030        5.382185  5.3140
2017      78.000000   78.0    1  155  44.888751        5.354019  5.2790
2018      78.500000   78.5    1  156  45.177428        5.375917  5.3780
2019      78.500000   78.5    1  156  45.177428        5.407096  5.3795

                              ... Trust (Government Corruption)            \
       amin   amax       std  ...                          mean    median
year                          ...
2015  2.839  7.587  1.145010  ...                      0.143422  0.107220
2016  2.905  7.526  1.141674  ...                      0.137624  0.105470
2017  2.693  7.537  1.131230  ...                      0.123120  0.089848
2018  2.905  7.632  1.119506  ...                      0.112000  0.082000
2019  2.853  7.769  1.113120  ...                      0.110603  0.085500

                              Generosity
     amin      amax       std       mean    median amin      amax       std
year
2015  0.0  0.551910  0.120034   0.237296  0.216130  0.0  0.795880  0.126685
2016  0.0  0.505210  0.111038   0.242635  0.222450  0.0  0.819710  0.133756
2017  0.0  0.464308  0.101661   0.246883  0.231538  0.0  0.838075  0.134780
2018  0.0  0.457000  0.096492   0.181006  0.174000  0.0  0.598000  0.098471
2019  0.0  0.453000  0.094538   0.184846  0.177500  0.0  0.566000  0.095254

[5 rows x 40 columns]

In [442]:
#export summary table of happiness data by year

In [444]:
#building a table of summary statistics by country

basic_data_country = stack_15_16.groupby('Country').agg([np.mean, np.median, np.min, np.max, np.std])
basic_data_country

            Happiness Rank                             Happiness Score  \
                      mean median amin amax        std            mean
Country
Afghanistan          149.4  153.0  141  154   6.024948         3.51280
Albania              106.4  109.0   95  112   6.618157         4.71260
Algeria               66.2   68.0   38   88  21.004761         5.66760
Angola               140.0  140.5  137  142   2.160247         3.87225
Argentina             31.2   29.0   24   47   9.148770         6.45940
...                    ...    ...  ...  ...        ...             ...
Venezuela             71.8   82.0   23  108  37.016213         5.53140
Vietnam               90.8   94.0   75   96   8.871302         5.15460
Yemen                146.4  147.0  136  152   6.348228         3.62580
Zambia               114.0  116.0   85  138  20.037465         4.58440
Zimbabwe             134.8  138.0  115  146  12.517987         4.00660

                                             ... Generosity            \
             median   amin   amax       std  ...       mean    median
Country                                      ...
Afghanistan  3.5750  3.203  3.794  0.232634  ...   0.267730  0.311871
Albania      4.6550  4.586  4.959  0.145607  ...   0.167887  0.168400
Algeria      5.6050  5.211  6.355  0.465170  ...   0.069219  0.070440
Angola       3.8305  3.795  4.033  0.112272  ...   0.105269  0.109318
Argentina    6.5740  6.086  6.650  0.231017  ...   0.092371  0.109457
...             ...    ...    ...       ...  ...        ...       ...
Venezuela    5.2500  4.707  6.810  0.897944  ...   0.057186  0.058410
Vietnam      5.1030  5.061  5.360  0.123009  ...   0.195664  0.177000
Yemen        3.5930  3.355  4.077  0.294979  ...   0.096929  0.098210
Zambia       4.5140  4.107  5.129  0.392690  ...   0.218430  0.221000
Zimbabwe     3.8750  3.663  4.610  0.397866  ...   0.169409  0.185030

                                            year
                amin      amax       std    mean  median  amin  amax       std
Country
Afghanistan  0.15800  0.365100  0.088569  2017.0  2017.0  2015  2019  1.581139
Albania      0.14272  0.201313  0.023505  2017.0  2017.0  2015  2019  1.581139
Algeria      0.05500  0.078220  0.008646  2017.0  2017.0  2015  2019  1.581139
Angola       0.07900  0.123440  0.020917  2016.5  2016.5  2015  2018  1.290994
Argentina    0.06200  0.114510  0.026014  2017.0  2017.0  2015  2019  1.581139
...              ...       ...       ...     ...     ...   ...   ...       ...
Venezuela    0.04250  0.065020  0.009033  2017.0  2017.0  2015  2019  1.581139
Vietnam      0.14700  0.250750  0.044800  2017.0  2017.0  2015  2019  1.581139
Yemen        0.08300  0.108000  0.010020  2017.0  2017.0  2015  2019  1.581139
Zambia       0.17866  0.249580  0.031153  2017.0  2017.0  2015  2019  1.581139
Zimbabwe     0.13200  0.189870  0.026412  2017.0  2017.0  2015  2019  1.581139

[170 rows x 45 columns]

In [446]:
#export summary table of happiness data by country
wor_happy_data_by_country = basic_data_country
wor_happy_data_by_country.to_csv(r'happy_by_country.csv')

In [423]:
# building a correlation table
# Happiness Rank	Happiness Score	Economy (GDP per Capita)	Family	Health (Life Expectancy)	Freedom	Trust (Government Corruption)	Generosity
happy_score = basic_data_country['Happiness Score', 'mean']
economy_score = basic_data_country['Economy (GDP per Capita)', 'mean']
family_score = basic_data_country['Family', 'mean']
health_score = basic_data_country['Health (Life Expectancy)', 'mean']
freedom_score = basic_data_country['Freedom', 'mean']
trust_score = basic_data_country['Trust (Government Corruption)', 'mean']
generous_score = basic_data_country['Generosity', 'mean']

# make a new dictionary

correl_table = { 
    'Happy': happy_score, 
    "Economy": economy_score, 
    "Family": family_score,
    "Health": health_score,
    "Freedom": freedom_score,
    "Trust": trust_score,
    "Generous": generous_score
    }

correl_table = pd.DataFrame(correl_table)
correl_table

,Happy,Economy,Family,Health,Freedom,Trust,Generous
Country,,,,,,,
Afghanistan,3.51280,0.357113,0.409753,0.254707,0.117924,0.058094,0.267730
Albania,4.71260,0.938633,0.754931,0.787696,0.371898,0.043201,0.167887
Algeria,5.66760,1.012963,1.074205,0.665057,0.178437,0.146099,0.069219
Angola,3.87225,0.798380,0.938368,0.133902,0.027433,0.071570,0.105269
Argentina,6.45940,1.111035,1.330960,0.760895,0.481620,0.064308,0.092371
...,...,...,...,...,...,...,...
Venezuela,5.53140,1.052468,1.323264,0.683741,0.213709,0.071444,0.057186
Vietnam,5.15460,0.723416,1.138384,0.722700,0.577207,0.091921,0.195664
Yemen,3.62580,0.489313,0.865448,0.365440,0.244175,0.067045,0.096929
Zambia,4.58440,0.571761,0.932381,0.302761,0.462099,0.097337,0.218430
Zimbabwe,4.00660,0.344051,1.007727,0.274403,0.323257,0.089997,0.169409

In [427]:
# correlation table exported to csv output

In [363]:
#example of looking at countries with biggest change in Happiness Rank using sort descending

basic_data_country_sort = basic_data_country.sort_values(by=('Happiness Rank','std'), ascending=False)
basic_data_country_sort

                         Happiness Rank                              \
                                   mean median amin amax        std
Country
Venezuela                         71.80   82.0   23  108  37.016213
Swaziland                        118.00  118.0  101  135  24.041631
Lesotho                          130.25  140.0   97  144  22.261701
Ivory Coast                      124.80  128.0   99  151  21.684096
Benin                            137.80  143.0  102  155  21.440616
...                                 ...    ...  ...  ...        ...
Oman                              22.00   22.0   22   22        NaN
Puerto Rico                       15.00   15.0   15   15        NaN
Somaliland Region                 97.00   97.0   97   97        NaN
Somaliland region                 91.00   91.0   91   91        NaN
Taiwan Province of China          33.00   33.0   33   33        NaN

                         Happiness Score                                  ...  \
                                    mean  median   amin   amax       std  ...
Country                                                                   ...
Venezuela                         5.5314  5.2500  4.707  6.810  0.897944  ...
Swaziland                         4.5395  4.5395  4.212  4.867  0.463155  ...
Lesotho                           4.0790  3.8080  3.802  4.898  0.546007  ...
Ivory Coast                       4.2732  4.1800  3.655  4.944  0.530723  ...
Benin                             3.9010  3.6570  3.340  4.883  0.626512  ...
...                                  ...     ...    ...    ...       ...  ...
Oman                              6.8530  6.8530  6.853  6.853       NaN  ...
Puerto Rico                       7.0390  7.0390  7.039  7.039       NaN  ...
Somaliland Region                 5.0570  5.0570  5.057  5.057       NaN  ...
Somaliland region                 5.0570  5.0570  5.057  5.057       NaN  ...
Taiwan Province of China          6.4220  6.4220  6.422  6.422       NaN  ...

                         Generosity                                         \
                               mean    median     amin      amax       std
Country
Venezuela                  0.057186  0.058410  0.04250  0.065020  0.009033
Swaziland                  0.128295  0.128295  0.07400  0.182590  0.076785
Lesotho                    0.136094  0.136749  0.10700  0.163880  0.028754
Ivory Coast                0.181253  0.201237  0.14600  0.203380  0.028682
Benin                      0.186070  0.182600  0.16300  0.207948  0.018661
...                             ...       ...      ...       ...       ...
Oman                       0.215420  0.215420  0.21542  0.215420       NaN
Puerto Rico                0.222020  0.222020  0.22202  0.222020       NaN
Somaliland Region          0.514790  0.514790  0.51479  0.514790       NaN
Somaliland region          0.503180  0.503180  0.50318  0.503180       NaN
Taiwan Province of China   0.258360  0.258360  0.25836  0.258360       NaN

                             year
                             mean  median  amin  amax       std
Country
Venezuela                 2017.00  2017.0  2015  2019  1.581139
Swaziland                 2017.00  2017.0  2015  2019  2.828427
Lesotho                   2017.25  2017.5  2015  2019  1.707825
Ivory Coast               2017.00  2017.0  2015  2019  1.581139
Benin                     2017.00  2017.0  2015  2019  1.581139
...                           ...     ...   ...   ...       ...
Oman                      2015.00  2015.0  2015  2015       NaN
Puerto Rico               2016.00  2016.0  2016  2016       NaN
Somaliland Region         2016.00  2016.0  2016  2016       NaN
Somaliland region         2015.00  2015.0  2015  2015       NaN
Taiwan Province of China  2017.00  2017.0  2017  2017       NaN

[170 rows x 45 columns]